############################
# Dependencies
############################
node_modules/
venv/
**/venv/

############################
# Environment Variables
############################
.env
**/.env
.env.*
db_test_out.txt

############################
# Build Outputs
############################
build/
dist/
coverage/

# React Native / Android
android/.gradle/
android/app/build/
android/build/

# React Native / iOS
ios/build/
ios/Pods/
DerivedData/

############################
# Python
############################
__pycache__/
*.py[cod]

############################
# Logs
############################
*.log
logs/

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# IDE / Editor
############################
.vscode/
.idea/

############################
# Misc
############################
.bundle/
.expo/
